html {
    background: -webkit-linear-gradient(bottom, #f9f9f4, darkgrey);
    /* Chrome,Safari4+ */
    width : 100%;
    height : 100%;
    margin: 0;
    padding: 0;
}
body {
    display:block;
    width: 100%;
}
h1 {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 80px;
    text-align: center;
    line-height: auto;
    color: white;
    text-shadow: -3px 5px #887973;

}
h3 {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
     text-align: left;
/*    font-kerning:normal*/
    color: #FFF;
    background-color: inherit;
/*    text-shadow: 1px 1px #000;*/
}
#Mainbox {
    display:block;
    padding:10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #b0b0a0;
    border: solid;
    border-color: #887973;
    border-width: 20px 3px 3px 5px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 3px #887973;
}
#inputId1 {
    width: 95%;
    height: 50px;
    background-color: #FFF;
    padding: 10px;
    position: center;
    margin-left: 10px;
    margin-right: 10px;
}
.todoInputtext {
}

.todo-item.complete {
    
}
.labelText-complete {
    font-size: 1.8 em;
    font-family: sans-serif;
    text-decoration: line-through;
    text-decoration-color: green;
}
.close {
    width: 25;
    height: 25;
}
.labelText {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 20px;   
}
.somethingTodo {
    width: 90%;
    height: 40px;
    background-color: #bbffff;
    box-shadow: -5px 3px #887973;
    margin: 15px;
    padding: 10px;
    border-radius: 0px 0px 12px 12px;
    border: solid 3px;
    border-color: #b0b0a0;   
}

.footerFilter {
    height: 30px;
    display: block;
    background-color: #b0b0a0;
/*    it would be better in pure CSS - add a base style with opacity: .5 and then add :focus with opacity: 1*/
    opacity: .5;
    margin-left: auto;
    margin-right: auto;
}
.showAll,
.showActive,
.to-doComplete {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-decoration-color: #555
/*    text-align:center;*/
 display: block;
  padding-left: 30px;
  margin-top: 30;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}
.wrapper {
    position: center;
    display:block;
    width: 150%;
}
/*
.form-control:-moz-placeholder {
  color: #999999;
}

.form-control::-moz-placeholder {
  color: #999999;
}

.form-control:-ms-input-placeholder {
  color: #999999;
}

*/
.form-control::-webkit-input-placeholder {
  color: #999999;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

/*
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
}
*/

textarea.form-control {
  height: auto;
}

.form-group {
  margin-bottom: 15px;
}

.checkbox {
/*  display: block;*/
  display: table-cell;
  min-height: 20px;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
}

.checkbox label {
  display: inline;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}

.checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}

/*
.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}

.radio-inline,
.checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
*/


.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

select.input-sm {
  height: 30px;
  line-height: 30px;
}

textarea.input-sm {
  height: auto;
}

.input-lg {
  height: 45px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

select.input-lg {
  height: 45px;
  line-height: 45px;
}

textarea.input-lg {
  height: auto;
}

.has-warning .help-block,
.has-warning .control-label {
  color: #c09853;
}

.has-warning .form-control {
  border-color: #c09853;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-warning .form-control:focus {
  border-color: #a47e3c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
}

.has-warning .input-group-addon {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #c09853;
}

.has-success .help-block,
.has-success .control-label {
  color: #468847;
}

.has-success .form-control {
  border-color: #468847;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-success .form-control:focus {
  border-color: #356635;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}

.has-success .input-group-addon {
  color: #468847;
  background-color: #dff0d8;
  border-color: #468847;
}
.btn-group {
    width: 175%;
}