html {
        background: -webkit-linear-gradient(bottom, #f9f9f4, darkgrey); /* Chrome,Safari4+ */
        width : 100%;
        height : 100%; 
        margin: 0;
        padding: 0; 
}                

body {
        display :block;
        width: 100%;
}

h1 {
        font-family:  Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 80px;
        text-align: center;
        line-height: auto;
        color: white;
        text-shadow: -1px -2px 4px #111;
        }

#ToDoContainer {
        display:block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        border: solid;
        border-color: #887973;
        border-width: 30px 3px 3px 3px;
        box-shadow: 10px #788;
}
